<table class="table table-striped">

  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @post.name %></td>
  </tr>
  <tr>
    <td><strong>Body:</strong></td>
    <td><%= @post.body %></td>
  </tr>

</table>